// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note_form {

  .note_title {
    width: 100%;
  }

  .note_content {
    width: 100%;
    min-height: 300px;
  }

  .meta-fieldgroup {
    padding-top: 15px;
  }

  #note_recipe_ingredients,
  #note_recipe_steps {
    width: 100%;
    min-height: 250px;
  }

}