// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note_index {

  .note {
    position: relative;
    padding: 10px;
    background-color: #fff;
    min-height: 50px;

    & + .note {
      margin-top: 2px;
    }

    &.text .note_category {
      display: none;
    }

    &:not(.text) .note_category {
      position: absolute;
      top: 11px;
      left: -115px;
      width: 100px;
      display: block;
      text-align: right;
      text-transform: uppercase;
      color: #999;
      font-size: 10px;
      font-weight: 900;
    }

    .note_title {
      font-weight: 700;
      color: #000;
    }

    .note_content {
      display: block;
      max-height: 37px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #777;
    }

    .special {
      span {
        text-transform: uppercase;
        font-size: 11px;
        color: #bbb;
      }
      span.voicy {
        font-size: 15px;
        line-height: 17px;
        font-family: Times, Georgia;
        font-weight: bold;
        font-style: italic;
        text-transform: none;
        color: #333;
      }
      span.url {
        text-transform: none;
        height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    table {
      display: none;
    }

    .actions_edit {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-indent: -9999px;
      opacity: 0;
      background-color: #F3DA4B;
      -webkit-transition: opacity 0.3s;

      &:hover {
        opacity: 0.07;
      }
    }

    .actions_delete {
      display: block;
      position: absolute;
      top: 0px;
      right: 5px;
      width: 50px;
      height: 50px;
      background-color: #fff;
      opacity: 0;
      padding-top: 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      -webkit-transition: opacity 0.3s, right 0.3s, color 0.3s;

      &:hover {
        right: 0px;
        opacity: 1;
      }
    }
  }

}

.note_form {

  .note_title {
    width: 100%;
  }

  .note_content {
    width: 100%;
    min-height: 300px;
  }

  .meta-fieldgroup {
    padding-top: 15px;
  }

  #note_attachment_container {
    display: inline-block;
  }

  #note_attachment_button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;

    #note_attachment {
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.01;
      cursor: pointer;
    }
  }

  #note_recipe_ingredients,
  #note_recipe_steps {
    width: 100%;
    min-height: 250px;
  }

}