/* Global */

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Lucida Grande', helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

p, ol, ul, td {
  font-family: 'Lucida Grande', helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #999;
  &:hover {
    color: #000;
  }
}

hr {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background-color: #e2e2e2;
}

/* Forms */

label {
  clear: both;
  display: inline-block;
  margin-right: 15px;
  min-width: 75px;
  text-align: right;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

input:not([type=submit]):not([type=file]), textarea {
  margin: 15px 0 0 0;
  padding: 10px;
  font-family: 'Lucida Grande', helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #ccc;

  hr + & {
    margin-top: 0;
  }
}

input:not([type=submit]):not([type=file]) {
  &:first-of-type {
    margin-top: 0px;
  }
}

br + textarea {
  margin-top: 15px;

  &::-webkit-input-placeholder {
    text-transform: capitalize;
  }
}

input:not([type=submit]):not([type=file]) {
  min-width: 300px;
}

/* Tables */

table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(248,248,248);
}

td, th {
  padding: 10px;
}

/* Notices and Errors */

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* Utility */

.hide {
  display: none;
}